Django==2.1
django-filter==2.0.0
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
psycopg2==2.7.5
pytz==2018.5
PyJWT==1.6.4

# email hunter
punter==0.1.2
requests==2.19.1
urllib3==1.23
chardet==3.0.4
certifi==2018.8.13
idna==2.7

# clearbit
clearbit==0.1.7
