django>=2.1.2
django-filter==2.0.0
djangorestframework==3.9.1
djangorestframework-jwt==1.11.0
psycopg2==2.7.5
pytz==2018.5
PyJWT==1.6.4

# email hunter
punter==0.1.2
requests>=2.20.0
urllib3==1.23
chardet==3.0.4
certifi==2018.8.13
idna==2.7

# clearbit
clearbit==0.1.7
